.contenedor{
    height: 600px;
    width: 600px;
    background: linear-gradient(#fa8072,#b85c52);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 10px 20px 30px #000;
    font-family: "Kanit", serif;
}

.puntaje{
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: yellow;
    padding: 20px;
    border-radius: 30px;
    font-family: "Kanit", serif;
}

.titulo{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Rubik Vinyl", serif;
    text-decoration: overline yellow;
}

.pregunta{
    width: 450px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 30px;
}

.pregunta p{
    font-size: 25px;
}

.opciones{
    height: 400px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opciones button{
    width: 500px;
    height: 60px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-family: "Kanit", serif;
    cursor: pointer;
    border: solid 3px #000;
}

.opciones button:hover{
    transform: scale(1.1);
    transition: .8s;
}

.fin-del-juego{
    font-family: "Kanit", serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #b85c52;
    color: #fff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .7);
}

.fin-del-juego button{
    font-family: "Kanit", serif;
    background-color: yellow;
    border: none;
    width: 150px;
    padding: 5px;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
}

@media(max-width:800px){
    .contenedor{
        width: 340px;
        height: 500px;
        margin: auto;
    }
    .puntaje{
        left: 15px;
        top: 15px;
        padding: 10px;
    }
    .titulo{
        font-size: 45px;
        text-decoration: none;
    }
    .pregunta{
        width: 300px;
        height: 100px;
        padding: 7px;
    }
    .pregunta p{
        font-size: 20px;
        height: auto;
        width: auto;
    }
    .opciones button{
        height: 50px;
        width: 270px;
        font-size: 19px;
    }
}